<html>
  <head>
      <style type="text/css">
    body,
    div,
    table,
    thead,
    tbody,
    tfoot,
    tr,
    th,
    td,
    p {
        font-family: "Liberation Sans";
        font-size: x-small
    }
    
    a.comment-indicator:hover+ comment {
        background: #ffd;
        position: absolute;
        display: block;
        border: 1px solid black;
        padding: 0.5em;
    }
    
    a.comment-indicator {
        background: red;
        display: inline-block;
        border: 1px solid black;
        width: 0.5em;
        height: 0.5em;
    }
    
    comment {
        display: none;
    }
</style>
  </head>
  <body>
      <div id="fuec">
    <table cellspacing="0" border="0">
    <colgroup width="69"></colgroup>
    <colgroup width="64"></colgroup>
    <colgroup width="21"></colgroup>
    <colgroup span="3" width="64"></colgroup>
    <colgroup width="74"></colgroup>
    <colgroup width="72"></colgroup>
    <colgroup width="81"></colgroup>
    <colgroup width="77"></colgroup>
    <tr>
        <td style="border-top: 1px solid #000000; border-left: 1px solid #000000" height="23" align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td style="border-top: 1px solid #000000; border-right: 1px solid #000000" align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td colspan=6 align="center" valign=middle>
            <b>
                <font face="Bitstream Charter" size=3 style="text-transform: uppercase">{{this.empresa.nombre_largo}}</font>
            </b>
        </td>
        <td style="border-top: 1px solid #000000; border-left: 1px solid #000000" align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td style="border-top: 1px solid #000000; border-right: 1px solid #000000" align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
    </tr>
    <tr>
        <td style="border-left: 1px solid #000000" height="23" align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td style="border-right: 1px solid #000000" align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td colspan=6 align="center" valign=middle>
            <b>
                <i>
                    <font face="Bitstream Charter" size=4 style="text-transform: uppercase">{{this.empresa.nombre_corto}}</font>
                </i>
            </b>
        </td>
        <td style="border-left: 1px solid #000000" align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td style="border-right: 1px solid #000000" align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
    </tr>
    <tr>
        <td style="border-left: 1px solid #000000" height="23" align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td style="border-right: 1px solid #000000" align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td align="center">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td colspan=5 align="center" valign=middle>
            <b>
                <font face="Bitstream Charter">NIT. {{this.empresa.nit_intermunicipal}} REGISTRO # {{this.empresa.nresolucon}}</font>
            </b>
        </td>
        <td style="border-left: 1px solid #000000" align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td style="border-right: 1px solid #000000" align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
    </tr>
    <tr>
        <td style="border-left: 1px solid #000000" height="23" align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td style="border-right: 1px solid #000000" align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td align="center">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td colspan=5 align="center" valign=middle>
            <b>
                <font face="Bitstream Charter"> {{this.empresa.direccion}} TEL: {{this.empresa.telefono}}</font>
            </b>
        </td>
        <td style="border-left: 1px solid #000000" align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td style="border-right: 1px solid #000000" align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
    </tr>
    <tr>
        <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000" height="23" align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td style="border-bottom: 1px solid #000000; border-right: 1px solid #000000" align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td align="center">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td colspan=5 align="center" valign=middle>
            <b>
                <br>
            </b>
        </td>
        <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000" align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td style="border-bottom: 1px solid #000000; border-right: 1px solid #000000" align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
    </tr>
    <tr>
        <td height="23" align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td colspan=6 align="center" valign=middle>
            <b>
                <br>
            </b>
        </td>
        <td align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
    </tr>
    <tr>
        <td height="23" align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td align="left">
            <br>
        </td>
        <td align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
    </tr>
    <tr>
        <td height="23" align="left">
            <font face="Bitstream Charter">FECHA:</font>
        </td>
        <td style="border-bottom: 1px solid #000000" colspan=5 align="center" valign=middle>
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=middle>
            <font face="Liberation Serif" size=4>No. 46458</font>
        </td>
        <td align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
    </tr>
    <tr>
        <td height="30" align="left">
            <font face="Bitstream Charter">No. INTERNO:</font>
        </td>
        <td style="border-bottom: 1px solid #000000" colspan=9 align="center" valign=middle>
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
    </tr>
    <tr>
        <td height="25" align="left">
            <font face="Bitstream Charter">CONDUCTOR:</font>
        </td>
        <td colspan=6 align="center" valign=middle>
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td align="center">
            <font face="Bitstream Charter">PASE No.</font>
        </td>
        <td colspan=2 align="left" valign=middle>
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
    </tr>
    <tr>
        <td height="27" align="left">
            <font face="Bitstream Charter">PLACA No.</font>
        </td>
        <td style="border-top: 1px solid #000000" colspan=3 align="center" valign=middle>
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td style="border-top: 1px solid #000000" align="center">
            <font face="Bitstream Charter">PROP.</font>
        </td>
        <td style="border-top: 1px solid #000000" colspan=5 align="center" valign=middle>
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
    </tr>
    <tr>
        <td height="23" align="left">
            <font face="Bitstream Charter">ORIGEN:</font>
        </td>
        <td style="border-top: 1px solid #000000" colspan=4 align="center" valign=middle>
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td style="border-top: 1px solid #000000" align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td style="border-top: 1px solid #000000" align="left">
            <font face="Bitstream Charter">DESTINO:</font>
        </td>
        <td style="border-top: 1px solid #000000" colspan=3 align="center" valign=middle>
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
    </tr>
    <tr>
        <td height="23" align="left">
            <font face="Bitstream Charter">VIAJE: </font>
        </td>
        <td style="border-top: 1px solid #000000" colspan=3 align="center" valign=middle>
            <br>
        </td>
        <td style="border-top: 1px solid #000000" align="center">A:</td>
        <td colspan=2 align="center" valign=middle>
            <br>
        </td>
        <td style="border-top: 1px solid #000000" align="left">
            <font face="Bitstream Charter">HOTA:</font>
        </td>
        <td style="border-top: 1px solid #000000" colspan=2 align="center" valign=middle>
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
    </tr>
    <tr>
        <td height="23" align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td style="border-top: 1px solid #000000" align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td style="border-top: 1px solid #000000" align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td style="border-top: 1px solid #000000" align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td style="border-top: 1px solid #000000" align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td style="border-top: 1px solid #000000" align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td style="border-top: 1px solid #000000" align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td style="border-top: 1px solid #000000" align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=6 height="23" align="center" valign=middle bgcolor="#999999">
            <b>
                <font face="Bitstream Charter" size=4>Nombre del pasajero</font>
            </b>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=middle bgcolor="#999999">
            <b>
                <font size=4>Destino</font>
            </b>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=middle bgcolor="#999999">
            <b>
                <font face="Bitstream Charter" size=4>Valor pasaje</font>
            </b>
        </td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=6 height="23" align="center" valign=middle>
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=middle>
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=middle>
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=6 height="23" align="center" valign=middle>
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=middle>
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=middle>
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=6 height="23" align="center" valign=middle>
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=middle>
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=middle>
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=6 height="23" align="center" valign=middle>
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=middle>
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=middle>
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=6 height="23" align="center" valign=middle>
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=middle>
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=middle>
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
    </tr>
    <tr>
        <td height="10" align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
        <td align="left">
            <font face="Bitstream Charter">
                <br>
            </font>
        </td>
    </tr>
    <tr>
        <td height="20" align="left">
            <br>
        </td>
        <td align="left">
            <br>
        </td>
        <td align="left">
            <br>
        </td>
        <td align="left">
            <br>
        </td>
        <td align="left">
            <br>
        </td>
        <td align="left">
            <br>
        </td>
        <td align="left">
            <br>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=middle bgcolor="#B2B2B2">
            <b>
                <font size=3>TOTAL $</font>
            </b>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=middle>
            <br>
        </td>
    </tr>
    <tr>
        <td height="10" align="left">
            <br>
        </td>
        <td align="left">
            <br>
        </td>
        <td align="left">
            <br>
        </td>
        <td align="left">
            <br>
        </td>
        <td align="left">
            <br>
        </td>
        <td align="left">
            <br>
        </td>
        <td align="left">
            <br>
        </td>
        <td align="left">
            <br>
        </td>
        <td align="left">
            <br>
        </td>
        <td align="left">
            <br>
        </td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-left: 1px solid #000000" height="10" align="left">
            <br>
        </td>
        <td style="border-top: 1px solid #000000" align="left">
            <br>
        </td>
        <td style="border-top: 1px solid #000000" align="left">
            <br>
        </td>
        <td style="border-top: 1px solid #000000" align="left">
            <br>
        </td>
        <td style="border-top: 1px solid #000000" align="left">
            <br>
        </td>
        <td style="border-top: 1px solid #000000" align="left">
            <br>
        </td>
        <td style="border-top: 1px solid #000000" align="left">
            <br>
        </td>
        <td style="border-top: 1px solid #000000" align="left">
            <br>
        </td>
        <td style="border-top: 1px solid #000000" align="left">
            <br>
        </td>
        <td style="border-top: 1px solid #000000; border-right: 1px solid #000000" align="left">
            <br>
        </td>
    </tr>
    <tr>
        <td style="border-left: 1px solid #000000" height="23" align="left">
            <br>
        </td>
        <td align="left">
            <br>
        </td>
        <td align="left">
            <br>
        </td>
        <td align="left">
            <br>
        </td>
        <td align="left">
            <br>
        </td>
        <td align="left">
            <br>
        </td>
        <td align="left">
            <br>
        </td>
        <td align="left">
            <br>
        </td>
        <td align="left">
            <br>
        </td>
        <td style="border-right: 1px solid #000000" align="left">
            <br>
        </td>
    </tr>
    <tr>
        <td style="border-left: 1px solid #000000" height="23" align="left">
            <br>
        </td>
        <td align="left">
            <br>
        </td>
        <td align="left">
            <br>
        </td>
        <td align="left">
            <br>
        </td>
        <td align="left">
            <br>
        </td>
        <td align="left">
            <br>
        </td>
        <td align="left">
            <br>
        </td>
        <td align="left">
            <br>
        </td>
        <td align="left">
            <br>
        </td>
        <td style="border-right: 1px solid #000000" align="left">
            <br>
        </td>
    </tr>
    <tr>
        <td style="border-left: 1px solid #000000" height="23" align="left">
            <br>
        </td>
        <td align="left">
            <br>
        </td>
        <td align="left">
            <br>
        </td>
        <td align="left">
            <br>
        </td>
        <td align="left">
            <br>
        </td>
        <td align="left">
            <br>
        </td>
        <td align="left">
            <br>
        </td>
        <td align="left">
            <br>
        </td>
        <td align="left">
            <br>
        </td>
        <td style="border-right: 1px solid #000000" align="left">
            <br>
        </td>
    </tr>
    <tr>
        <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000" height="23" align="left">
            <br>
        </td>
        <td style="border-bottom: 1px solid #000000" align="left">
            <br>
        </td>
        <td style="border-bottom: 1px solid #000000" align="left">
            <br>
        </td>
        <td style="border-bottom: 1px solid #000000" align="left">
            <br>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" colspan=3 align="center" valign=middle>FIRMA AUTORIZADA</td>
        <td style="border-bottom: 1px solid #000000" align="left">
            <br>
        </td>
        <td style="border-bottom: 1px solid #000000" align="left">
            <br>
        </td>
        <td style="border-bottom: 1px solid #000000; border-right: 1px solid #000000" align="left">
            <br>
        </td>
    </tr>
</table>
</div>

<div id="contract"></div>
      </body>
</html>
<script>
    var data = {{#toJSON this}}{{/toJSON}};
    
    var vars={};
      var x=window.location.search.substring(1).split('&');
      for (var i in x) {
        var z=x[i].split('=',2);
        vars[z[0]] = unescape(z[1]);
      }
      document.getElementById('fuec').innerHTML = vars.fuec; 
      document.getElementById('contract').innerHTML = vars.contract; 
</script>