<style type="text/css">
    body,
    div,
    table,
    thead,
    tbody,
    tfoot,
    tr,
    th,
    td,
    p {
        font-family: "Calibri";
        font-size: x-small
    }
    
    a.comment-indicator:hover+ comment {
        background: #ffd;
        position: absolute;
        display: block;
        border: 1px solid black;
        padding: 0.5em;
    }
    
    a.comment-indicator {
        background: red;
        display: inline-block;
        border: 1px solid black;
        width: 0.5em;
        height: 0.5em;
    }
    
    comment {
        display: none;
    }
</style>
<table cellspacing="0" border="0">
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3 rowspan=3 height="88" align="center" valign=bottom>
            <font size=3 color="#000000">
                <br>
                <img src="{#image FUECCOOTRASAN1_html_a0432960c73d7cba}" width=302 height=88 hspace=38 vspace=10>
            </font>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3 rowspan=3 align="center" valign=bottom>
            <font size=3 color="#000000">
                <br>
                <img src="http://api.viajaseguro.co/images/empresas/{{this.empresa.logo}}" width=353 height=79 hspace=37 vspace=5>
            </font>
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=6 height="18" align="center" valign=bottom>
            <b>
                <font size=3 color="#000000">FORMATO &Uacute;NICO DE EXTRACTO DEL SERVICIO P&Uacute;BLICO DE TRANSPORTE TERRESTRE</font>
            </b>
        </td>
    </tr>
    <tr>
        <td style="border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=6 height="18" align="center" valign=bottom>
            <b>
                <font size=3 color="#000000">AUTOMOTOR ESPECIAL</font>
            </b>
        </td>
    </tr>
    <tr>
        <td style="border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=6 height="18" align="center" valign=bottom>
            <b>
                <font size=3 color="#000000">No 22001910120151121</font>
            </b>
        </td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000" colspan=4 height="21" align="center" valign=bottom>
            <font size=3 color="#000000" style="text-transform: uppercase">{{this.empresa.nombre_largo}} &quot;{{this.empresa.nombre_corto}}&quot;</font>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="left" valign=bottom>
            <font size=3 color="#000000">NIT: {{this.empresa.nit_especial}}</font>
        </td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=6 height="21" align="left" valign=bottom>
            <font size=3 color="#000000">CONTRATO No: 1121</font>
        </td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=4 height="21" align="left" valign=bottom>
            <font size=3 color="#000000">CONTRATANTE: LUIS ARIZA CARRILLO</font>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="left" valign=bottom>
            <font size=3 color="#000000">NIT/CC: 12,693,140</font>
        </td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=6 height="21" align="center" valign=bottom>
            <font size=3 color="#000000">OBJETO CONTRATO</font>
        </td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=6 height="21" align="center" valign=bottom>
            <font size=3 color="#000000">TRANSPORTAR UN GRUPO DE PERSONAS PARTICULARES O VIAJE EXPRESO</font>
        </td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=6 height="21" align="center" valign=bottom>
            <font size=3 color="#000000">RECORRIDO : RIO SECO- LOS HATICOS - SAN JUAN - DISTRACCION</font>
        </td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000" height="21" align="left" valign=bottom>
            <font size=3 color="#000000">ORIGEN:</font>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" align="left" valign=bottom>
            <font size=3 color="#000000">VALLEDUPAR</font>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" align="left" valign=bottom>
            <font size=3 color="#000000">
                <br>
            </font>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" align="left" valign=bottom>
            <font size=3 color="#000000">DESTINO:</font>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000" align="left" valign=bottom>
            <font size=3 color="#000000">FONSECA</font>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom>
            <font size=3 color="#000000">
                <br>
            </font>
        </td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=6 height="21" align="center" valign=bottom>
            <b>
                <font size=3 color="#000000">VIGENCIA DEL CONTRATO</font>
            </b>
        </td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000" rowspan=2 height="42" align="left" valign=middle>
            <font size=3 color="#000000">FECHA INICIAL</font>
        </td>
        <td style="border-top: 1px solid #000000" align="left" valign=bottom>
            <font size=3 color="#000000">
                <br>
            </font>
        </td>
        <td style="border-top: 1px solid #000000" align="left" valign=bottom>
            <font size=3 color="#000000">
                <br>
            </font>
        </td>
        <td style="border-top: 1px solid #000000" align="center" valign=bottom>
            <font size=3 color="#000000">DIA</font>
        </td>
        <td style="border-top: 1px solid #000000" align="center" valign=bottom>
            <font size=3 color="#000000">MES</font>
        </td>
        <td style="border-top: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom>
            <font size=3 color="#000000">A&Ntilde;O</font>
        </td>
    </tr>
    <tr>
        <td style="border-bottom: 1px solid #000000" align="left" valign=bottom>
            <font size=3 color="#000000">
                <br>
            </font>
        </td>
        <td style="border-bottom: 1px solid #000000" align="left" valign=bottom>
            <font size=3 color="#000000">
                <br>
            </font>
        </td>
        <td style="border-bottom: 1px solid #000000" align="center" valign=bottom sdval="24" sdnum="9226;">
            <font size=3 color="#000000">24</font>
        </td>
        <td style="border-bottom: 1px solid #000000" align="center" valign=bottom>
            <font size=3 color="#000000">JULIO</font>
        </td>
        <td style="border-bottom: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdval="2015" sdnum="9226;">
            <font size=3 color="#000000">2015</font>
        </td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000" rowspan=2 height="42" align="left" valign=middle>
            <font size=3 color="#000000">FECHA FINAL</font>
        </td>
        <td style="border-top: 1px solid #000000" align="left" valign=bottom>
            <font size=3 color="#000000">
                <br>
            </font>
        </td>
        <td style="border-top: 1px solid #000000" align="left" valign=bottom>
            <font size=3 color="#000000">
                <br>
            </font>
        </td>
        <td style="border-top: 1px solid #000000" align="left" valign=bottom>
            <font size=3 color="#000000">
                <br>
            </font>
        </td>
        <td style="border-top: 1px solid #000000" align="left" valign=bottom>
            <font size=3 color="#000000">
                <br>
            </font>
        </td>
        <td style="border-top: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom>
            <font size=3 color="#000000">
                <br>
            </font>
        </td>
    </tr>
    <tr>
        <td style="border-bottom: 1px solid #000000" align="left" valign=bottom>
            <font size=3 color="#000000">
                <br>
            </font>
        </td>
        <td style="border-bottom: 1px solid #000000" align="left" valign=bottom>
            <font size=3 color="#000000">
                <br>
            </font>
        </td>
        <td style="border-bottom: 1px solid #000000" align="center" valign=bottom sdval="24" sdnum="9226;">
            <font size=3 color="#000000">24</font>
        </td>
        <td style="border-bottom: 1px solid #000000" align="center" valign=bottom>
            <font size=3 color="#000000">JULIO</font>
        </td>
        <td style="border-bottom: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom sdval="2015" sdnum="9226;">
            <font size=3 color="#000000">2015</font>
        </td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=6 height="21" align="center" valign=bottom>
            <b>
                <font size=3 color="#000000">CARACTERISTICAS DEL VEHICULO</font>
            </b>
        </td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 height="21" align="center" valign=bottom>
            <font size=3 color="#000000">PLACA</font>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom>
            <font size=3 color="#000000">MODELO</font>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom>
            <font size=3 color="#000000">MARCA</font>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom>
            <font size=3 color="#000000">CLASE</font>
        </td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 height="21" align="center" valign=bottom>
            <font size=3 color="#000000">WHI 560</font>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom>
            <font size=3 color="#000000">
                <br>
            </font>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="left" valign=bottom>
            <font size=3 color="#000000">
                <br>
            </font>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom>
            <font size=3 color="#000000">AUTOMOVIL</font>
        </td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3 height="21" align="center" valign=bottom>
            <b>
                <font size=3 color="#000000">N&Uacute;MERO INTERNO</font>
            </b>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3 align="center" valign=bottom>
            <b>
                <font size=3 color="#000000">N&Uacute;MERO DE OPERACI&Oacute;N</font>
            </b>
        </td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3 height="21" align="center" valign=bottom sdval="23" sdnum="9226;">
            <font size=3 color="#000000">23</font>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=3 align="center" valign=bottom>
            <font size=3 color="#000000">
                <br>
            </font>
        </td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 height="21" align="center" valign=bottom>
            <font size=3 color="#000000">NOMBRES Y APELLIDOS</font>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom>
            <font size=3 color="#000000">CEDULA</font>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom>
            <font size=3 color="#000000">No DE LICENCIA DE CONDUCCI&Oacute;N</font>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom>
            <font size=3 color="#000000">VIGENCIA</font>
        </td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 height="21" align="center" valign=bottom>
            <font size=3 color="#000000">LEOBARDO PARADA</font>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom>
            <font size=3 color="#000000">
                <br>
            </font>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=2 align="center" valign=bottom>
            <font size=3 color="#000000">
                <br>
            </font>
        </td>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" align="center" valign=bottom>
            <font size=3 color="#000000">
                <br>
            </font>
        </td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=6 height="21" align="center" valign=bottom>
            <b>
                <font size=3 color="#000000">REPONSABLE DEL CONTRATANTE</font>
            </b>
        </td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=6 height="21" align="center" valign=bottom>
            <font size=3 color="#000000">NOMBRES Y APELLIDOS</font>
        </td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000" colspan=6 height="21" align="center" valign=bottom>
            <font size=3 color="#000000">ANGEL FERNANDEZ</font>
        </td>
    </tr>

    <tr>
        <td style="border-top: 1px solid #000000" colspan=6 rowspan=3 height="86" align="center" valign=bottom>
            <font size=3 color="#000000">
                <br>
                <img src="http://api.viajaseguro.co/images/empresas/firma/{{this.empresa.firma_digital}}" width=191 height=86 hspace=182 vspace=2>
            </font>
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
    </tr>
    <tr>
        <td colspan=6 height="15" align="center" valign=bottom>
            <font size=3 color="#000000" style="text-transform: uppercase">{{this.empresa.nombre_largo}} "{{this.empresa.nombre_corto}}" Nit {{this.empresa.nit_especial}}</font>
        </td>
    </tr>
    <tr>
        <td colspan=6 height="15" align="center" valign=bottom>
            <font size=3 color="#000000">Resoluci&oacute;n de Habilitaci&oacute;n No {{this.empresa.nresolucon}} del {{this.empresa.fecha_resolucion}} Emanada del Ministerio de Transporte Seccional Cesar</font>
        </td>
    </tr>
    <tr>
        <td colspan=6 height="15" align="center" valign=bottom>
            <font size=3 color="#000000">Oficina Principal {{this.empresa.direccion}} Tel: {{this.empresa.telefono}} - Fax: {{this.empresa.fax}}</font>
        </td>
    </tr>
    <tr>
        <td height="15" align="center" valign=bottom>
            <font size=3 color="#000000">
                <br>
            </font>
        </td>
        <td align="center" valign=bottom>
            <font size=3 color="#000000">
                <br>
            </font>
        </td>
        <td colspan=2 rowspan=4 align="center" valign=bottom>
            <font size=3 color="#000000">
                <br>
                <img src="{#image FUECCOOTRASAN1_html_ee55b014f46af39d}" width=224 height=41 hspace=46 vspace=11>
            </font>
        </td>
        <td align="center" valign=bottom>
            <font size=3 color="#000000">
                <br>
            </font>
        </td>
        <td align="center" valign=bottom>
            <font size=3 color="#000000">
                <br>
            </font>
        </td>
    </tr>
</table>
<script>
    var data = {{#toJSON this}}{{/toJSON}}
</script>